/* 메인컬러 : bc5ffe */
* {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 맑은 고딕, Malgun Gothic, Apple SD 산돌고딕 Neo, Apple SD Gothic Neo, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  list-style: none;
  box-sizing: border-box;
}
@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?3232728');
  src: url('./font/fontello.eot?3232728#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?3232728') format('woff'),
       url('./font/fontello.ttf?3232728') format('truetype'),
       url('./font/fontello.svg?3232728#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 350px;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
button {
  transition: opacity 0.2s;
}
button:hover {
  opacity: 0.8;
}
.hide {
  display: none;
}

.container {
  max-height: 550px;
  min-height: 550px;
  overflow-y: scroll;
  padding-bottom: 65px;
}

/**
 * 배너 영역
 */
.banner {
  width: 100%;
  height: 170px;
  background-image: url('../banner.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/**
 * 소개 영역
 */
.infomation {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 15px 7px;
  background: white;
}
.infomation button {
  text-align: center;
  padding: 7px 12px;
  border: 1px solid #7B4CE6;
  background-color: #7B4CE6;
  cursor: pointer;
  color: white;
  flex: 1 0 calc(50% - 7px);
}
.infomation button:first-child {
  margin-right: 7px;
  background-color: #7B4AE8;
  border-color: #7B4AE8;
}
.infomation button:last-child {
  background-color: #5852FF;
  border-color: #5852FF;
}

/**
 * 검색
 */
.search {
  position: relative;
  padding: 10px 7px;
}
.search .icon-search {
  position: absolute;
  color: #7b4ae8;
  font-size: 19px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background: none;
}
.search input {
  border: 2px solid rgb(123 74 232 / 68%);
  padding: 10px 10px 10px 40px;
  border-radius: 4px;
  color: #333;
  width: 100%;
  outline: none;
  font-size: 15px;
  font-weight: 500;
}
.search input::placeholder {
  color:#bbb; 
}

.content {
  padding: 15px 7px;
}
.content:last-child {
  border: 0;
}
.content .subtitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #333;
}
.btn-delete {
  background: none;
  margin-left: 5px;
  border: 0;
  font-size: 14px;
  color: #5852ff;
}
.org-list li {
  padding: 12px 5px;
  margin: 0 5px;
  color: #333;
}
.org-list li a {
  font-size: 14px;
  font-weight: 500;
}
.org-list li:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.org-list .org-item {
  padding: 11px 0px;
  margin: 6px 0;
}
.org-list .org-item:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.org-list .org-item .org-name {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.org-list .org-item .address {
  font-size: 12px;
}

/**
 * Loading
 */
.loading-position {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background: #4A84E8;
  border: 1px solid #4A84E8;
  float: right;
}
.loading-position.active {
  background-color: #BC5EFF;
  border-color: #BC5EFF;
}
.loading-position.error {
  background: red;
  border-color: red;
}


/* collapse */
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}