ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
/* collapse */
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

body {
  width: 250px;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
}
.content {
  padding: 20px 15px;
  border-bottom: 1px solid #aaa;
}
.content .title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content .subtitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.content input {
  border: 1px solid #dedede;
  padding: 7px;
  border-radius: 4px;
  margin-top: 5px;
}
.content button {
  display: inline-block;
  text-align: center;
  padding: 7px 12px;
  border: 1px solid #dedede;
  background-color: #191919;
  color: white;
  border-radius: 4px;
  margin-left: 3px;
}
.content button.popup-test {
  font-size: 12px;
  padding: 5px 7px;
  float: right;
  margin-top: -4px;
}
.org-list li {
  padding: 12px 5px;
}
.org-list li a {
  font-size: 14px;
  font-weight: bold;
}
.org-list li:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.org-item {
  padding: 11px 0px;
  margin: 6px 0;
}
.org-item:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.org-item .org-name {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}
.org-item .address {
  font-size: 12px;
}
.loading-position {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background: blue;
  float: right;
}
.loading-position.active {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background: red;
  float: right;
}
